<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Liste des enseignants</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/grh.css}"/>
	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/enseignants.js}"></script>
</head>
<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:include="fragments/header :: nav (active = 'EN')">
		
		</nav>
		
		<div class="table-container">
    <div class="border">
	<div class="card">
		<div class="card-header">Filtres</div>
		<div class="card-body" id="filtresContainer">
		<form>
		<div class="form-row">
			<div class="col mb-3">
				<input class="form-control" type="text" id="cinInput" placeholder="CIN"/>
			</div>
			<div class="col mb-3">
				<input class="form-control" type="text" id="anneeInscriptionInput" placeholder="Année d'Inscription"/>
			</div>
			<div class="col mb-3">
				<input class="form-control" type="text" id="telephoneInput" placeholder="telephone"/>
			</div>
		</div>
		<div class="form-row">
			<div class="col mb-3">
				<input class="form-control" type="text" id="nomInput" placeholder="nom"/>
			</div>
			<div class="col mb-3">
				<input class="form-control" type="text" id="prenomInput" placeholder="prénom"/>
			</div>
			<div class="col mb-3">
				<input class="form-control" type="text" id="emailProInput" placeholder="email professionnel"/>
			</div>
		</div>
		
		<div  class="form-row">
			<div class="col mb-3">
				<input class="form-control" type="text" id="emailPersoInput" placeholder="email personnel"/>
			</div>
			<div class="col">
				<input class="form-control" type="text" id="adresse" placeholder="adresse"/>
			</div>
			<div class="col">
				<input class="form-control" type="text" id="sexeInput" placeholder="sexe"/>
			</div>
		</div>
		<div class="float-md-right">
				<button type="button" class="btn btn-primary" id="btnChercher">chercher</button>
				<button type="button" class="btn btn-light" id="btnViderChamps">Annuler les filtres</button>
			</div>
			</form>
		</div>
		
	</div>
	</div>
	</div>
	<div class="table-container">
		<div class="card border">
			<div th:if="${type} == 'EP'" class="card-header">Liste des enseignants permanents</div>
			<div th:if="${type} == 'EV'" class="card-header">Liste des enseignants vacataires</div>
			<div class="card-body">
				<div class="table-container row">
		
				   <div class="col-6">
				      <a th:href="@{/inscription}"><button class="btn btn-primary" id="btnAjouter">Inscrire un enseignant</button></a>
				   </div>
					
				</div>
				
					<table class="table table-hover" id="enseignantsTable">
						<thead class="thead-dark">
							<tr>			
								<th class="essential">CIN</th>
								<th class="essential">Nom</th>
								<th class="essential">Prénom</th>
								<th>Date d'affectation</th>
								<th class="essential" >Téléphone</th>
								<th class="essential" >Email Professionnel</th>
								<th class="essential persist">options</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<div class="row">
							<div class="col-8 align-items-center text-center">
								<ul class="pagination">
								  <li class="page-item"><button class="page-link" id="previousPage"><!--<span class="glyphicon">&#xe091;</span>--> prec </button></li>
								  <li class="page-item"><div class="page-link" id="currentPage">1</div></li>
								  <li class="page-item"><button class="page-link" id="nextPage"><!--<span class="glyphicon">&#xe092;</span>--> suiv </button></li>
								</ul>
							</div>
							<div class="col-1 align-items-center text-primary text-left">
								<span id="totalPages"></span> pages
							</div>
							<div class="col align-items-center text-primary text-right">
								<span id="totalElements"></span> enseignants
							</div>
						</div>
				</div>
				
			</div>
		</div>
		
</body>
</html>