<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<he>
	<meta charset="UTF-8">
	<title>Modifier un etudiant</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/grh.css}"/>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:include="fragments/header :: nav (active = 'ET')">
		
		</nav>
	<div class="table-container">
		<div class="card">
			<div class="card-header">formulaire de modification</div>
			<div class="card-body">
				<form th:action="${#strings.toString(type)} == 'etudiant' ? @{/AjouterEtudiant} : @{/ModifierEtudiantArchive}" th:object="${etudiant}" method="post" enctype="multipart/form-data" name="etudiantForm">
                  <div class="form-row col-md-12">
                   <div class="form-group col-md-6">
                    <div class="form-group col-md-12">
                            <label for="nomEt">Nom :</label>
                            <input type="text" id="nomEt" class="form-control" th:field="*{nom}"/>
                    </div>
                    <div class="form-group col-md-12">
                            <label for="prenomEt">Prénom :</label>
                            <input type="text" id="prenomEt" class="form-control" th:field="*{prenom}" required />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="dateNaissanceEt">Date de naissance :</label>
                        <input type="date" id="dateNaissanceEt" class="form-control" th:field="*{dateNaissance}" required/>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="cinEt">CIN :</label>
                        <input type="text" id="cinEt" class="form-control" th:field="*{CIN}"/>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="cinEt">Année de réserve :</label>
                        <select class="form-control" id="promotionInput"  th:field="*{anneeDeReserve}">
                        	<option value=""/>
							<option th:each="p : ${#numbers.sequence(1, 3)}" th:value="${p}" th:text="${p}"/>
						</select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="sexeEt">Sexe :</label>
                        <select id="sexeEt" th:field="*{sexe}" required>
                           <option th:each="sexe:${T(ma.ac.emi.info.enums.Sexe).values()}" th:value="${sexe}" th:text="${sexe}">Masculin</option>
                        </select>
                    </div>
                   </div>
                    <div class="form-group col-md-6">
                    	<label for="photoEt">Image</label>
    					<input type="file" class="form-control-file" name="imageEtudiant" id="photoEt"/>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="form-row col-md-12">
                    
                    	<div class="form-group col-md-6">
                            <label for="nomPrenomArabeEt">Nom et prénom en arabe :</label>
                            <input type="text" id="nomPrenomArabeEt" class="form-control" th:field="*{nomPrenomArabe}" required />
                        </div>
                    
                        <div class="form-group col-md-6">
                        	<label for="matriculeEt">Matricule</label>
                        	<input type="text" id="matriculeEt" class="form-control" th:field="*{matricule}" required />
                    	</div>
                    </div>
                    <div class="form-row col-md-12">
                    	<div class="form-group col-md-6">
                            <label for="dateInscriptionEt">Date d'inscription :</label>
                            <input type="text" id="dateInscriptionEt" class="form-control" th:field="*{dateInscription}" required/>
                        </div>
                    	
                        <div class="form-group col-md-6">
                            <label for="telephoneEt">Téléphone :</label>
                            <input type="text" id="telephoneEt" class="form-control" th:field="*{telephone}" required />
                        </div>
                        
                    </div>
                    <div class="form-row col-md-12">
                        <div class="form-group col-md-6">
                            <label for="emailPersoEt">Email personnel :</label>
                            <input type="email" id="emailPersoEt" class="form-control" th:field="*{emailPersonnel}" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="emailProEt">Email professionnel :</label>
                                <input type="email" id="emailProEt" class="form-control" th:field="*{emailProfessionnel}" required />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="motDePasseEt">Adresse :</label>
                        <input type="text" id="adresseEt" class="form-control" th:field="*{adresse}" />
                    </div>
                    <div class="form-group col-md-12">
			        	<label for="motDePasseEt">Mot de passe :</label>
			        	<input type="password" id="motDePasseEt" class="form-control" th:field="*{motDePasse}"/>
                    </div>
                    	<input type="hidden" th:field="*{id}" />
 
                    <div class="row col-md-12">
                    	<div class="form-group col-md-12">
	                        <div class="form-actions floatRight">
	                            <input type="submit"  value="Enregistrer" class="btn btn-primary btn-sm">
	                            <button type="button" class="btn btn-warning btn-sm" >Vider les champs</button>
	                        </div>
                        </div>
                    </div>
                  </div>
                </form>
			</div>
		</div>
	</div>
</body>
</html>